# Cache
**/__pycache__

# Env
secrets.yaml

# SSH
.ssh/**
!.ssh/config

# Backup
backups

# Custom Addons
custom_components
www

# User Sensitive Data
image
tts
media

# Debug
debug

# IDE
.vscode

# Temp
.cache

# Home Assistant
.cloud
.storage
home-assistant.log*
home-assistant*.db*
.ha_run.lock

# Extra Addons
.addons